
mlclass-ex4-006/mlclass-ex4/submit.m

mlclass-ex4-006/mlclass-ex4/submitWeb.m

mlclass-ex8-006/mlclass-ex8/ml_login_data.mat

mlclass-ex2-006/mlclass-ex2/submit.m

mlclass-ex2-006/mlclass-ex2/submitWeb.m

mlclass-ex1-006/mlclass-ex1/submit.m

mlclass-ex1-006/mlclass-ex1/ml_login_data.mat

mlclass-ex2-006/mlclass-ex2/ml_login_data.mat

mlclass-ex3-006/mlclass-ex3/ml_login_data.mat

mlclass-ex3-006/mlclass-ex3/submit.m

mlclass-ex3-006/mlclass-ex3/submitWeb.m

mlclass-ex4-006/mlclass-ex4/ml_login_data.mat

mlclass-ex5-006/mlclass-ex5/ml_login_data.mat

mlclass-ex5-006/mlclass-ex5/submit.m

mlclass-ex5-006/mlclass-ex5/submitWeb.m

mlclass-ex6-006/mlclass-ex6/ml_login_data.mat

mlclass-ex6-006/mlclass-ex6/octave-workspace

mlclass-ex6-006/mlclass-ex6/submit.m

mlclass-ex6-006/mlclass-ex6/submitWeb.m

mlclass-ex7-006/mlclass-ex7/submitWeb.m
